@inject HttpClient ApiClient
@page "/dashboard"
@attribute [Authorize]

<PageTitle>Dashboard | Message Silo</PageTitle>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <Dropdown>
                <DropdownToggle Color="Color.Primary" class="btn btn-sm">
                    <span data-feather="columns"></span>
                    Columns
                </DropdownToggle>
                <DropdownMenu>
                    <DropdownItem Clicked="@(e => SetRows(1))">1</DropdownItem>
                    <DropdownItem Clicked="@(e => SetRows(2))">2</DropdownItem>
                    <DropdownItem Clicked="@(e => SetRows(3))">3</DropdownItem>
                </DropdownMenu>
            </Dropdown>
        </div>
        <div class="btn-group me-2">
            <Button Color="Color.Primary" Clicked="@(e => ConnectionSettingsModal.Show())" class="btn btn-sm">
                <span data-feather="plus-square"></span>
                New Connection
            </Button>
        </div>
    </div>
</div>

<Loader IsLoading="Items.Count==0">
    <div class="row row-cols-1 row-cols-md-@rows mb-3 text-center">
        <Repeater Items="Items">
            <div class="col">
                <DashboardItem Connection="@context" ApiClient="ApiClient" ConnectionSettingsModal="ConnectionSettingsModal" OnDeleteItem="@(e =>DeleteItem(context.Id))"></DashboardItem>
            </div>
        </Repeater>
    </div>
</Loader>

<ConnectionSettingsModal @ref="@ConnectionSettingsModal" ApiClient="ApiClient"></ConnectionSettingsModal>