@using MessageSilo.BlazorApp.Components.DeadLetterCorrector
@using MessageSilo.Shared.Enums
@page "/dead-letter-correctors/{id}"

<Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom">Dead Letter Corrector</Heading>

@if (ConnectionSettings != null)
{
    <Heading Size="HeadingSize.Is2">Details</Heading>

    <Table>
        <TableBody>
            <TableRow>
                <TableRowHeader>#</TableRowHeader>
                <TableRowCell>@ConnectionSettings.Id</TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowHeader>Name</TableRowHeader>
                <TableRowCell>@ConnectionSettings.Name</TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowHeader>Type</TableRowHeader>
                <TableRowCell>@ConnectionSettings.Type</TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowHeader>Connection String</TableRowHeader>
                <TableRowCell>@ConnectionSettings.ConnectionString</TableRowCell>
            </TableRow>
            @switch (ConnectionSettings.Type)
            {
                case MessagePlatformType.Azure_Queue:
                    {
                        <TableRow>
                            <TableRowHeader>Queue Name</TableRowHeader>
                            <TableRowCell>@ConnectionSettings.QueueName</TableRowCell>
                        </TableRow>
                    }
                    break;
                case MessagePlatformType.Azure_Topic:
                    {
                        <TableRow>
                            <TableRowHeader>Topic Name</TableRowHeader>
                            <TableRowCell>@ConnectionSettings.TopicName</TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowHeader>Subscription Name</TableRowHeader>
                            <TableRowCell>@ConnectionSettings.SubscriptionName</TableRowCell>
                        </TableRow>
                    }
                    break;
            }
        </TableBody>
    </Table>
}

@if (CorrectedMessages != null)
{
    <Heading Size="HeadingSize.Is2">Messages</Heading>

    <Table>
        <TableBody>
            @foreach (var item in CorrectedMessages)
            {
                <TableRow>
                    <TableRowCell>@item.Id</TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
}


