@inject IHttpClientFactory _clientFactory

<h3>ConnectionSettings</h3>

<form>
    <div class="form-group">
        <label for="connectionTypeOfBus">Type</label>
        <Select TValue="BusType" id="connectionTypeOfBus" class="form-control" @bind-SelectedValue="TypeOfBus">
            <SelectItem Value="BusType.Queue">Queue</SelectItem>
            <SelectItem Value="BusType.Topic">Topic</SelectItem>
        </Select>
    </div>
    <div class="form-group">
        <label for="connectionName">Name</label>
        <TextEdit id="connectionName" class="form-control" @bind-Text="@Name" />
    </div>
    <div class="form-group">
        <label for="connectionConnectionString">Connection String</label>
        <MemoEdit id="connectionConnectionString" class="form-control" AutoSize  @bind-Text="@ConnectionString" />
    </div>
    @switch (TypeOfBus)
    {
        case BusType.Queue:
            <div class="form-group">
                <label for="connectionQueueName">Queue Name</label>
                <TextEdit id="connectionQueueName" class="form-control"  @bind-Text="@QueueName" />
            </div>
            break;
        case BusType.Topic:
            <div class="form-group">
                <label for="connectionTopicName">Topic Name</label>
                <TextEdit id="connectionTopicName" class="form-control"  @bind-Text="@TopicName" />
            </div>
            <div class="form-group">
                <label for="connectionSubscriptionName">Subscription Name</label>
                <TextEdit id="connectionSubscriptionName" class="form-control"  @bind-Text="@SubscriptionName" />
            </div>
            break;
    }

    <Button class="btn btn-primary" Clicked="Connect">Connect</Button>
</form>
