<div class="card mb-4 rounded-3 shadow-sm dashboard-item-card">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-md-1">
                <img src="/images/azureservicebus_logo.png" height="35"/>
            </div>
            <div class="col-md-7">
                <h4 class="my-0 fw-normal">@Connection.Name</h4>
            </div>
            <div class="col-md-4 float-right">
                <Dropdown>
                    <DropdownToggle Color="Color.Primary">
                        Actions
                    </DropdownToggle>
                    <DropdownMenu>
                        <DropdownItem Clicked="@(e => ConnectionSettingsModal.Show(Connection))">Edit</DropdownItem>
                        <DropdownDivider />
                        <DropdownItem Clicked="@(e => Delete())" TextColor="TextColor.Danger">Delete</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </div>
        </div>
    </div>
    <div class="card-body">
        <Switch TValue="bool" @bind-Checked="IsAdvancedView"></Switch>
        <p class="mt-3 mb-4">
            @if (IsAdvancedView)
            {
                <PinnerMessageDisplayer InputMessage="@MessageDetails" PinnedPathes="@Connection.PinnedPathes" />
            }
            else
            {
                <DefaultJsonMessageDisplayer InputMessage="@MessageDetails" />
            }
        </p>
    </div>
</div>
