@using MessageSilo.BlazorApp.Layouts;

<Blazorise.ThemeProvider Theme="@theme">
    <CascadingAuthenticationState>
        <Router AppAssembly="typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <Authorizing>
                        <p>Determining session state, please wait...</p>
                    </Authorizing>
                    <NotAuthorized>
                        <h1>Sorry</h1>
                        <p>You're not authorized to reach this page. You need to log in.</p>
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
        <MessageProvider />
        <NotificationProvider />
    </CascadingAuthenticationState>
    <PageProgressProvider />
</Blazorise.ThemeProvider>
@code {
    private Theme theme = new()
        {
            BarOptions = new()
            {
                HorizontalHeight = "72px",
                DarkColors = new()
                {
                    BackgroundColor = "#002C69",
                    Color = "white",
                    ItemColorOptions = new()
                    {
                        ActiveBackgroundColor = "#C6B520",
                    }
                }
            },
            ColorOptions = new()
            {
                Primary = "#C6B520",
                Secondary = "#002C69",
                Success = "#23C02E",
                Info = "#9BD8FE",
                Warning = "#F8B86C",
                Danger = "#F95741",
                Light = "#F0F0F0",
                Dark = "#535353",
            },
            BackgroundOptions = new()
            {
                Primary = "#C6B520",
                Secondary = "#002C69",
                Success = "#23C02E",
                Info = "#9BD8FE",
                Warning = "#F8B86C",
                Danger = "#F95741",
                Light = "#F0F0F0",
                Dark = "#535353",
            },
            InputOptions = new()
            {
                CheckColor = "#C6B520",
            }
        };
}